
@using HEngine.Framework;
@using HEngine.Ticket;
@{
    ViewBag.Title = "ProductInfo";

    var entity = ViewBag.Entity as HEngine.Ticket.Model.MerchantProductInfoEntity;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    <link type="text/css" rel="stylesheet" href="~/Content/css/swiper.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/style.css">
    <style>
        .sectionitem {
            box-sizing: border-box;
            padding: 0.8em;
            color: rgb(123, 123, 111);
            border: none;
            margin: 1em auto;
            text-align: center;
            box-sizing: border-box;
        }

            .sectionitem .Main {
                border-left-width: 2px;
                border-left-style: solid;
                border-left-color: #F76B1C;
                box-sizing: border-box;
                overflow: hidden;
                box-sizing: border-box;
                text-align: left;
                padding: 0.2em 0em;
                padding: 0.8em;
            }

        section .title {
            overflow: hidden;
            color: rgb(255, 255, 255);
            padding: 0.3em 0.8em 0.2em;
            font-size: 0.875em;
            display: inline-block;
            line-height: 1em;
            box-sizing: border-box;
            background-color: #F76B1C;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

            section .title p {
                display: inline;
                white-space: normal;
            }

                section .title p span {
                    color: rgb(255, 255, 255);
                }

        section {
            font-family: 微软雅黑;
            font-size: 16px;
            border: 0px none;
            padding: 0px;
            position: relative;
            box-sizing: border-box;
            line-height: 1.5em;
        }

        p {
            white-space: normal;
            font-family: 微软雅黑;
            color: rgb(96, 97, 108);
            letter-spacing: 0pt;
            font-size: 10pt;
            background-image: initial;
            background-position: initial;
            background-size: initial;
            background-repeat: initial;
            background-attachment: initial;
            background-origin: initial;
            background-clip: initial;
        }

            p span {
                font-family: 微软雅黑;
                color: rgb(96, 97, 108);
                letter-spacing: 0pt;
                font-size: 10pt;
                background-image: initial;
                background-position: initial;
                background-size: initial;
                background-repeat: initial;
                background-attachment: initial;
                background-origin: initial;
                background-clip: initial;
            }

            p .p {
                margin: 11.25pt 0pt 0pt;
                text-indent: 0pt;
                padding: 0pt;
                line-height: 15.75pt;
                background-image: initial;
                background-color: rgb(255, 255, 255);
            }
    </style>

}
<div class="header">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @if (entity != null && entity.PictureList != null && entity.PictureList.Any())
            {
                foreach (var picentity in entity.PictureList)
                {
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="http://image.37kid.com/@picentity.PhotoSmallUrl">
                            
                        </a>
                    </div>

                }
            }
            else
            {
                <div class="swiper-slide">
                    <a href="#">
                        <img src="/Content/images/banner.png">
                    </a>
                </div>

            }

        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-muskbg">
            <img class="musk-bg" src="/Content/images/slide_bg.png" alt="">
        </div>
    </div>


    <div class="wrapper">
        <div class="tit clearfix">
            <h3>@(entity.MerchantName)</h3>

        </div>
        <p>@(entity.ProductInfo.FetchAgeSoope)</p>
        <p class="ash">
            <!-- 如果有免费，添加invalid class -->
            价值：<span class="price invalid">¥@entity.ProductInfo.ParPrice.ToString(NetConstant.DefalutMoneyFormat)</span>@(TicketConstant.GetFreeTypeName(entity.ProductInfo.FreeType))
            <!-- 如果是免预约的，添加quickly类名 -->
            <span class="status quickly">@(TicketConstant.GetSubscribeTypeName(entity.ProductInfo.SubscribeType))</span>
            <!--<span class="status">需提前一天预约</span>-->
        </p>

        <p class="ash mb10">
            @Html.Raw(entity.ProductInfo.KeyWords)
        </p>

        @if (entity != null && entity.AccountID == 1001)
        {
            <div class="map clearfix" onclick="TransferCoordinate('杭州海底世界',30.2245318604,120.1513123137)">

                <span class="sp"></span>
                <a href="#">
                    海底世界：西湖区南山路49号(万松岭路口)
                </a>
                <span class="word-right">
                    地图<i class="jt"></i>
                </span>

            </div>
            <div class="map clearfix" onclick="TransferCoordinate('杭州动物园',30.2132900949,120.1352392656)">

                <span class="sp"></span>
                <a href="#">
                    动物园：西湖区虎跑路40号
                </a>
                <span class="word-right">
                    地图<i class="jt"></i>
                </span>

            </div>
        }
        else
        {
            <div class="map clearfix" onclick="TransferCoordinate('@entity.MerchantName',@entity.Latitude,@entity.Longitude)">

                <span class="sp"></span>
                <a href="#">
                    @(entity.Address)
                </a>
                <span class="word-right">
                    地图<i class="jt"></i>
                </span>

            </div>
        }
    </div>
</div>

@if (entity != null && entity.ExceptBrandList != null && entity.ExceptBrandList.Any())
{

    if (entity.ExceptBrandList.Count > 3)
    {
        <div class="wrap">
            <ul class="store-list minHeight">
                @foreach (var factory in entity.ExceptBrandList)
                    {
                    <li class="store">
                        <a class="store-link" href="#" onclick="TransferUrl(@factory.AccountID)">
                            <em class="store-name">【连锁】@(factory.MerchantName)</em>
                            <i class="point"></i>
                        </a>
                    </li>
                }
            </ul>
            <span class="toggle-container">
                <span class="more" onclick="" id="js-toggle-slide">
                    更多
                    <span class="point-w"><i class="point-i"></i></span>
                </span>
            </span>
        </div>
    }
    else
    {
        <div class="wrap">
            <ul class="store-list">
                @foreach (var factory in entity.ExceptBrandList)
                    {

                    <li class="store">
                        <a class="store-link" href="#" onclick="TransferUrl(@factory.AccountID)">
                            <em class="store-name">【连锁】@(factory.MerchantName)</em>
                            <i class="point"></i>
                        </a>
                    </li>

                }
            </ul>
        </div>
    }
}
<div class="wrap">
    <ul id="tab_t">
        <li class="act">
            <span>图文详情</span>
        </li>
        <li>
            <span>年卡说明</span>
        </li>
    </ul>
    <div id="tab_c">
        <div>
            <ul class="text">
                @Html.Raw(entity.MerchantDesc)
            </ul>
        </div>
        <div class="hide">
            <ul class="text">
                <li>
                    <h3>
                        关于年卡：
                    </h3>
                    <p>《神奇王国 - 杭州亲子年卡》是由神奇王国出品的战略级产品，优选了杭州集动物王国、亲子乐园、水域秘境、运动拓展、开心农场、DIY手工、兴趣体验、生活服务8大类别中的70多个亲子品牌、近200个优质项目，总票价14601元的游乐活动，其中包括杭州海底世界、杭州动物园、烂苹果乐园、乐高活动中心、蓝旗亲子游泳、喜悦溜冰场、晶星都市村等知名项目。</p>

</li>
                <li>
                    <h3>使用流程</h3>
                    <img src="~/Content/images/liucheng.png">
                    <p>购买《 杭州亲子年卡》用户，请先下载“神奇王国App”完成绑定，通过App内获取商家验证码，到店时交予店员验证，即可完成验证，进入场馆。
                    </p>
</li>
                <li><h3>年卡有效期</h3>
                    <p>2017年03月01日至2018年05月31日；</p>
</li>
<li>
                    <h3>使用须知</h3>
                    <p> ➢本年卡采用一人一卡实名制，仅限上传照片的本人使用，不得转借，如有冒用或非本人使用，商家或年卡工作人员有权在系统内取消该年卡的使用资格；</p>
                    <p>
                        ➢	本年卡所包含项目的使用时间及优惠内容，请以App内商家介绍为准，项目减免价值仅供参考；
                    </p>
                    <p>
                        ➢	本年卡涵盖权益会不断更新、增加，有效期内的持卡人都可享有全部权益；
                    </p>
                    <p>
                        ➢	本年卡不含保险，建议自行购买，如有其他消费，请另行付费；
                    </p>
                    <p>➢	本年卡一经售出，不可退款，请妥善保存；</p>

</li>
            </ul>
        </div>
    </div>
</div>

@section js{
    <script type="text/javascript" src="~/Content/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/swiper.jquery.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            //pagination: '.swiper-pagination',分页器
            //paginationClickable: true,分页器
            autoplay: 3000,
            spaceBetween: 30
        });
    </script>
    <script>

        
        function isWeiXin() {
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                return true;
            } else {
                return false;
            }
        }

        function isAndroid() {
            return navigator.userAgent.match(/Android/i) ? true : false;
        }

        function isIOS() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
        }

        window.onload = function () {
            var tab_t = document.getElementById("tab_t");
            var tab_t_li = tab_t.getElementsByTagName("li");
            var tab_c = document.getElementById("tab_c");
            var tab_c_li = tab_c.getElementsByTagName("div");
            var len = tab_t_li.length;
            var i = 0;

            for (i = 0; i < len; i++) {
                tab_t_li[i].index = i;
                tab_t_li[i].onclick = function () {
                    for (i = 0; i < len; i++) {
                        tab_t_li[i].className = '';
                        tab_c_li[i].className = 'hide';
                    }
                    tab_t_li[this.index].className = 'act';
                    tab_c_li[this.index].className = '';
                }
            }
        };

        jQuery(function () {
            $('#js-toggle-slide').on('click', function () {
                var $btn = $(this);
                var html;

                if ($btn.hasClass('dropdown')) {
                    $btn.removeClass('dropdown');
                    $('.store-list').removeClass('opened');
                    html = $btn.html();
                    $btn.html(function () {
                        return html.replace('收起', '更多')
                    });
                } else {
                    $btn.addClass('dropdown');
                    $('.store-list').addClass('opened');
                    html = $btn.html();
                    $btn.html(function () {
                        return html.replace('更多', '收起')
                    });
                }

                return false;
            });
        });
    </script>
    <script>
        window.onerror = function (err) {
        }

        //注册WebViewJavascriptBridge
        function setupWebViewJavascriptBridge(callback) {
            if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
            if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
            window.WVJBCallbacks = [callback];
            var WVJBIframe = document.createElement('iframe');
            WVJBIframe.style.display = 'none';
            WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
            document.documentElement.appendChild(WVJBIframe);
            setTimeout(function () { document.documentElement.removeChild(WVJBIframe) }, 0)
        }

        //JS代码
        setupWebViewJavascriptBridge(function (bridge) {
            var uniqueId = 1
            //JS注册HandlerjsTestObjcCallBack,可以让OC来调用，
            bridge.registerHandler('jsTestObjcCallBack', function (data, responseCallback) {
                var responseData = { 'JavascriptSays': 'Right back atcha!' }
                responseCallback(responseData)
            })

        })

        function TransferCoordinate(title, latitude, longitude) {

            if (isAndroid()) {
                window.HzqznkcApp.jsToApp("{'type': 'coordinate','title':'" + title + "' ,'latitude':" + latitude + ", 'longitude': " + longitude + "}")
            }
            else if (isIOS()) {
                window.WebViewJavascriptBridge.callHandler('mpTestObjcCallBack', { 'type': 'coordinate', 'title': title, 'latitude': latitude, 'longitude': longitude }, function (responseData) { });
            }
        }


        function TransferUrl(mid) {

            if (isWeiXin())
            {
                window.location.href = 'http://trade.37kid.com/Home/ProductInfo?mid=' + mid;
            }
            else if (isAndroid()) {
                window.HzqznkcApp.jsToApp("{ 'type': 'commodityDetail', 'mid':'" + mid + "', 'url': 'http://trade.37kid.com/Home/ProductInfo?mid=" + mid + "'}")
            }else if (isIOS()) {
                window.WebViewJavascriptBridge.callHandler(
                    'mpTestObjcCallBack'
                    , { 'type': 'commodityDetail', 'mid': mid, 'url': 'http://trade.37kid.com/Home/ProductInfo?mid=' + mid }
                    , function (responseData) { });
            }else
            {
                window.location.href = 'http://trade.37kid.com/Home/ProductInfo?mid=' + mid;
            }
        }


    </script>

}

