@using HEngine.Ticket;
@using HEngine.Framework;

@{
    ViewBag.Title = "ProductList";
    var list = ViewBag.List as IList<HEngine.Ticket.Model.MerchantProductInfoEntity>;

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link type="text/css" rel="stylesheet" href="~/Content/css/style.css">
    <link type="text/css" rel="stylesheet" media="(min-width:580px) and (max-width:1100px)" href="~/Content/css/ipad.css">
}
<div class="list-main clearfix">
    <ul class="list">
        @if (list != null && list.Any())
        {
            foreach (var entity in list)
            {

                <li class="clearfix" onclick="TransferUrl(@entity.AccountID)">
                    
                        <div class="right">

                            <img src="http://image.37kid.com/@(entity.ProductInfo.ProductSmallImage)" />
                        </div>
                        <div class="left">
                            <h3>@(entity.MerchantName)</h3>
                            <div class="ticket clearfix">
                                <span class="ticket-l">@(TicketConstant.GetSubscribeTypeName(entity.ProductInfo.SubscribeType))</span>
                                <span class="ticket-r">@(TicketConstant.GetFreeTypeName(entity.ProductInfo.FreeType))</span>
                            </div>
                            <div class="region clearfix">
                                <span class="region-l">
                                    <span class="sp"></span>
                                    @(entity.Address.Trim().Substring(0, 3))
                                </span>
                                <span class="region-r">@(entity.Range.ToString("F2"))km</span>
                            </div>
                        </div>

                </li>
            }
        }
</div>


<script>

    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        } else {
            return false;
        }
    }

    function isAndroid() {
        return navigator.userAgent.match(/Android/i) ? true : false;
    }

    function isIOS() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
    }

    window.onerror = function (err) {
        log('window.onerror: ' + err)
    }

    //注册WebViewJavascriptBridge
    function setupWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
        if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
        window.WVJBCallbacks = [callback];
        var WVJBIframe = document.createElement('iframe');
        WVJBIframe.style.display = 'none';
        WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
        document.documentElement.appendChild(WVJBIframe);
        setTimeout(function () { document.documentElement.removeChild(WVJBIframe) }, 0)
    }

    //JS代码
    setupWebViewJavascriptBridge(function (bridge) {
        var uniqueId = 1
        //JS的LOG输出代码
        function log(message, data) {
            var log = document.getElementById('log')
            var el = document.createElement('div')
            el.className = 'logLine'
            el.innerHTML = uniqueId++ + '. ' + message + ':<br/>' + JSON.stringify(data)
            if (log.children.length) { log.insertBefore(el, log.children[0]) }
            else { log.appendChild(el) }
        }

        //JS注册HandlerjsTestObjcCallBack,可以让OC来调用，
        bridge.registerHandler('jsTestObjcCallBack', function (data, responseCallback) {
            
            var responseData = { 'JavascriptSays': 'Right back atcha!' }
            
            responseCallback(responseData)
        })

    })

    function TransferUrl(mid) {

        if (isWeiXin())
        {
            window.location.href = 'http://trade.37kid.com/Home/ProductInfo?mid=' + mid;
        }
        else  if (isAndroid()) {
            window.HzqznkcApp.jsToApp("{'type': 'commodityDetail', 'mid':'" + mid + "', 'url': 'http://trade.37kid.com/Home/ProductInfo?mid=" + mid + "'}");
        }
        else if (isIOS()) {
            //调用本地java方法
            window.WebViewJavascriptBridge.callHandler(
                'mpTestObjcCallBack'
                , { 'type': 'commodityDetail', 'mid': mid, 'url': 'http://trade.37kid.com/Home/ProductInfo?mid=' + mid }
                , function (responseData) { });
        }else
        {
            window.location.href = 'http://trade.37kid.com/Home/ProductInfo?mid=' + mid;
        }

    }
</script>